spring:
  h2:
    console:
      enabled: true
      path: /h2-consolez

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/test
    username: sa
    password:


  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

image:
  upload:
    directory: C:/Users/98qkr/OneDrive/문서/GitHub/NFT-Project/nftshop/src/main/resources/templates/productsImg/