<!DOCTYPE html>
<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="signupstyle.css">
    <meta charset="UTF-8">
    <title>Webtoon Material</title>
</head>
<body>
<div class="content">
    <!-- 이전 페이지로 이동 -->
    <button class="x_button">X</button>
    <h1>Log in</h1>
    <div class="member_check">
        <span>New to this site?</span>
        <a href="./signup.html">Sign up</a>
    </div>
    <div class="information">
        <div class="field">
            <label for="identity">Id</label>
            <input type="text" id="identity" required>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>
    </div>
    <div class="find_password">
        <button class="find_password_button">Forgot password?</button>
    </div>
    <div>
        <button class="signup_button">Log in</button>
    </div>
</div>
</body>
</html>
