<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <title>capstone</title>
    <script src="https://kit.fontawesome.com/88f0a2c689.js"
            crossorigin="anonymous"></script>
    <script src="main2.js" defer></script>
</head>

<body>
<nav class="navbar">
    <div class="navbar__logo">
        <i class="fa-solid fa-book-open"></i>
        <a href="">WMSS</a>  <!--아이콘 클릭했을 때 홈 화면으로 넘어가게 해주는 부분-->
    </div>

    <ul class="navbar__menu">
        <li><a href="productsales.html">shop</a></li>
        <li><a href="./About.html">about</a></li>
        <li><a href="./Contact.html">contact</a></li>
        <li><a href="CreateProduct.html">product_rgstr</a></li>
    </ul>

    <ui class="navbar__icons">
        <li><i class="fa-brands fa-kickstarter">Cart</i></li>
        <li><a href="../templates/UserMyPage.html">MyPage</a></li>
        <li><a href="../templates/Main.html">LogOut</a></li>
    </ui>

    <a href="#" class="navbar__toogleBtn">
        <i class="fa-solid fa-bars"></i>
    </a>
</nav>
<br><br><br>
<div class="p-5 mb-4 bg-light rounded-3">
    <img src="maindraw.png" width="80%" lt="Backble" />
    <br><br><br><br>
</div>

<div class="top">
    <ul style="text-align: center">
        <a href="">POPULAR PRODUCTS</a>
    </ul>
</div>
<div class="products">
    <a href=""><img src="test1.jpg" width="350" height="400" alt="작품이미지2" id="top1"></a>
    <a href=""><img src="test1.jpg" width="350" height="400" alt="작품이미지2" id="top2"></a>
    <a href=""><img src="test1.jpg" width="350" height="400" alt="작품이미지2" id="top3"></a>
    <a href=""><img src="test1.jpg" width="350" height="400" alt="작품이미지2" id="top4"></a>
</div>

<div class="footer">
    <address>2023 capstonedesign</address>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // 페이지 로딩이 완료된 후에 실행할 함수
    window.onload = function() {

        axios
            .get('http://localhost:8080/api/v1/products/quantity',{
                withCredentials: true // withCredentials 설정 추가
            })
            .then(function(response) {
                const data = response.data;
                if (data.result) {
                    const imageElement1 = document.getElementById('top1');

                    const imageElement2 = document.getElementById('top2');

                    const imageElement3 = document.getElementById('top3');

                    const imageElement4 = document.getElementById('top4');

                    imageElement1.src = "productsImg/" + data.data.top1;
                    imageElement2.src = "productsImg/" + data.data.top2;
                    imageElement3.src = "productsImg/" + data.data.top3;
                    imageElement4.src = "productsImg/" + data.data.top4;
                } else {
                    alert(data.message);
                }
            })
            .catch(function(error) {
                console.log(error);
            });
    };

</script>
</html>