<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="ProductDetailStyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WMSS</title>
  <script src="https://kit.fontawesome.com/88f0a2c689.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
  <div class="navbar__logo">
    <i class="fa-solid fa-book-open"></i>
    <a href="./Main.html">WMSS</a>  <!--아이콘 클릭했을 때 홈 화면으로 넘어가게 해주는 부분-->
  </div>

  <ul class="navbar__menu">
    <li><a href="">shop</a></li>
    <li><a href="">about</a></li>
    <li><a href="">contact</a></li>
    <li><a href="">product_rgstr</a></li>
  </ul>

  <ui class="navbar__icons">
    <li><a href="">SignUp</a></li>
    <li><a href="">SignIn</a></li>
  </ui>

  <a href="#" class="navbar__toogleBtn">
    <i class="fa-solid fa-bars"></i>
  </a>
</nav>
<div class="content">
  <div class="img_details">
    <div class="img_info">
      <div class="slider">
        <input type="radio" name="slide" id="slide1" checked>
        <input type="radio" name="slide" id="slide2">
        <input type="radio" name="slide" id="slide3">
        <input type="radio" name="slide" id="slide4">
        <ul id="imgholder" class="imgs">
          <li><img id="productImage" src="" alt="제품 상세 이미지1"></li>
        </ul>
        <div class="bullets">
          <label for="slide1">&nbsp;</label>
        </div>
      </div>


      <div class="information">
        <p id="description">
        </p>
      </div>
    </div>



    <div class="content_details">
      <div class="detail">
        <h2 id="productsNames"></h2>
      </div>
      <div class="detail">
        <div>
          <h3 class="price" id="price">
          </h3>
        </div>
      </div>
      <button class="add_button">ADD</button>
      <button class="order_button" onClick="location.href='OrderProduct.html'">ORDER</button>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  window.onload = function() {
    axios
            .get('http://localhost:8080/api/v1/products', {
              params: {
                productName: 'htmltestimage1'
              }
            })
            .then(function(response) {
              const data = response.data;
              if (data.result) {
                document.getElementById("productsNames").innerText = data.data.productsNames;
                document.getElementById("description").innerText = data.data.description;
                document.getElementById("price").innerText = data.data.price + "원";
              } else {
                alert(data.message);
              }

              axios
                      .get('http://localhost:8080/api/v1/image', {
                        params: {
                          productsName: 'htmltestimage1'
                        }
                      })
                      .then(function(response) {
                        const data = response.data;
                        if (data.result) {
                          const productImageURL = 'http://localhost:8080/api/v1/image?productsName=htmltestimage1'; // 이미지 URL을 직접 지정
                          document.getElementById("productImage").src = productImageURL;

                        } else {
                          alert(data.message);
                        }
                      })
                      .catch(function(error) {
                        console.log(error);
                      });
            })
            .catch(function(error) {
              console.log(error);
            });
  };
</script>
</html>