<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="ProductDetailStyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WMSS</title>
  <script src="https://kit.fontawesome.com/88f0a2c689.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
  <div class="navbar__logo">
    <i class="fa-solid fa-book-open"></i>
    <a href="./Main.html">WMSS</a>  <!--아이콘 클릭했을 때 홈 화면으로 넘어가게 해주는 부분-->
  </div>

  <ul class="navbar__menu">
    <li><a href="">shop</a></li>
    <li><a href="">about</a></li>
    <li><a href="">contact</a></li>
    <li><a href="">product_rgstr</a></li>
  </ul>

  <ui class="navbar__icons">
    <li><a href="">SignUp</a></li>
    <li><a href="">SignIn</a></li>
  </ui>

  <a href="#" class="navbar__toogleBtn">
    <i class="fa-solid fa-bars"></i>
  </a>
</nav>
<div class="content">
  <div class="img_details">
    <div class="img_info">
      <img src="" id="test1" width="350" height="400" alt="작품이미지2">
      <br>
      <div class="information">
        <p id="description">
        </p>
      </div>
    </div>



    <div class="content_details">
      <div class="detail">
        <h2 id="productsNames"></h2>
      </div>
      <div class="detail">
        <div>
          <h3 class="price" id="price">
          </h3>
        </div>
      </div>
      <button class="add_button">ADD</button>
      <button class="order_button" onClick="location.href='OrderProduct.html'">ORDER</button>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 페이지 로딩이 완료된 후에 실행할 함수
  window.onload = function() {
    const productName = getCookie("productName");

    axios
            .get('http://localhost:8080/api/v1/products', {
              params: {
                productName: productName
              }
            })
            .then(function(response) {
              const data = response.data;
              if (data.result) {
                document.getElementById("productsNames").innerText = data.data.productsNames;
                document.getElementById("price").innerText = data.data.price;
                document.getElementById("description").innerText = data.data.description;
                const imageElement = document.getElementById('test1');
                imageElement.src = "productsImg/" + data.data.saveName;
              } else {
                alert(data.message);
              }
            })
            .catch(function(error) {
              console.log(error);
            });
  };

  // 쿠키에서 특정 이름의 값을 가져오는 함수
  function getCookie(name) {
    const value = "; " + document.cookie;
    const parts = value.split("; " + name + "=");
    if (parts.length === 2) {
      return parts.pop().split(";").shift();
    }
    return null;
  }
</script>
</html>