<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="signupstyle.css">
    <meta charset="UTF-8">
    <title>Webtoon Material</title>
</head>
<body>
<div class="content">
    <!-- 이전 페이지로 이동 -->
    <button class="x_button" onclick="redirectToMainSignIn()">X</button>
    <h1>Sign Up</h1>
    <div class="information">
        <div class="field">
            <label for="identity">Id</label>
            <input type="text" id="identity" required>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>
        <div class="field">
            <label for="checkPassword">checkPassword</label>
            <input type="password" id="checkPassword" required>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" id="name" required>
        </div>
        <div class="field">
            <label for="cellphone">Tel</label>
            <input type="text" id="cellphone" required>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" id="email" required>
        </div>
        <div class="field">
            <label for="birth">Birth</label>
            <input type="text" id="birth" required>
        </div>
        <select id="gender"
                class="form-select"
                style="margin-bottom: 10px">
            <option value="" selected disabled hidden>성별</option>
            <option value="MALE">남자</option>
            <option value="FEMALE">여자</option>
        </select>
        <button onclick="create()">Sign up</button>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function create() {
        const identity = document.getElementById("identity");
        const password = document.getElementById("password");
        const checkPassword = document.getElementById("checkPassword");
        const name = document.getElementById("name");
        const gender = document.getElementById("gender");
        const cellphone = document.getElementById("cellphone");
        const email = document.getElementById("email");
        const birth = document.getElementById("birth");

        axios({
            url: 'http://localhost:8080/api/v1/users',
            method: 'post',
            withCredentials: false,
            data: {
                identity: identity.value,
                password: password.value,
                checkPassword: checkPassword.value,
                name: name.value,
                gender: gender.value,
                cellphone: cellphone.value,
                email: email.value,
                birth: birth.value
            }
        }).then(function singUp(response){
                const jsonData = response.data;
                if (jsonData.result) {
                    alert("회원가입에 성공하셨습니다.");
                    location.href = "../templates/Main.html";
                } else {
                    alert(jsonData.message)
                }
            }).catch(function(error) {
            alert("오류발생 : " + JSON.stringify(error));
        });
    }
    function redirectToMainSignIn() {
        location.href =  "../templates/Main.html";
    }
</script>
</html>
