body {
  margin: 0;
  position: relative;
  display: flex;
  justify-content:center;
}
.content {
  margin-top: 80px;
  text-align: center;
  position: relative;
  width: 320px;
  height: 580px;
}
.x_button {
  background: none;
  position: fixed;
  right: 80px;
  top: 60px;
  touch-action: manipulation;
  font-size: 20px;
  border:0;
}
h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
}
.member_check {
  font-size: 20px;
  margin-bottom: 30px;
}
.member_check a {
  text-decoration: none;
  color: #d49466;
}
.field {
  margin: 10px 0px;
}
label {
  display: block;
  text-align: left;
  margin: 5px 0px;
  font-size: 16px;
  color: gray;
}

input {
  width: 100%;
  height: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0;
  border-color: gray;
  font-size: 16px;
}
input:focus {
  outline-style: none;
  border-color: #d49466;
}

.gender_radio {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:row;
  margin-left: auto;
}
.Gender {
  display: flex;
}
label[for="Gender"] {
  margin-top: 0;
}
hr {
  background-color: gray;
  height: 2px;
  border: 0;
}
button.signup_button {
  width: 100%;
  height: 46px;
  border: 0;
  margin: 15px 0px;
  font-size: 15px;
  background-color:#d49466;
}
.find_password {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.find_password_button {
  border:0;
  background-color: transparent;
  font-size: 16px;
  padding: 0;
}

