body{
    margin: 0;
    font-family: "Source Code Pro";
}
a{
    text-decoration: none;
    color: #A16B54;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
}

.add_product{
    color: rgba(255, 255, 255, 0.65);
    font-size: 30px;
    margin: 0px;
    background-color: #A16B54;
    padding: 5px;
}

.addd_product{
    color: rgba(30, 28, 27, 0.89);
    font-size: 30px;
    margin: 0px;
    background-color: rgba(194, 154, 154, 0.65);
    padding: 5px;
}

.products_container {
    display: flex;
}


.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
}
.updateProductImg{
 margin-left : 50px
}

.right {
    width: 50%;
    float: right;
}
.container{
    font-size: 30px;
    font-family: "Source Code Pro";
    color: #1e1c1b;
    padding: 20px;
    text-align: center;
}

.input_des{
    width: 800px;
    height: 500px;
    text-align: right;
    margin-left: 500px;

}
.p-5{

    text-align: center;
}

.test3{
    text-align: right;
}

.contents{
    display: flex;
    justify-content: space-between;
}

.products{
    display: flex;
    justify-content: space-between;
}
.product_style{
    text-align: left;
    margin-top: 70px;
}

.test1{
    margin-left: 40px;
}
.contents{
    padding: 60px 12px;
}

.top{
    font-size: 20px;
}


.navbar__logo{
    font-size: 30px;
    color: #E4C6B0;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 25px;
}
.navbar__menu li{
    padding : 8px 12px;
}

.navbar__menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}
.navbar__icons{
    list-style: none;
    color: white;
    display: flex;
}

.navbar__icons li{
    padding: 8px 12px;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width : 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
}