<!DOCTYPE html>
<html lang="en">
<head>
  <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="signupstyle.css">
  <meta charset="UTF-8">
  <title>Webtoon Material</title>
</head>
<body>
<div class="content">
  <!-- 이전 페이지로 이동 -->
  <button class="x_button" onclick="redirectToMainSignIn()">X</button>
  <h1>Update Password?</h1>
  <div class="information">
    <div class="field">
      <label for="identity">Id</label>
      <input type="text" id="identity" required>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" required>
    </div>
    <div class="field">
      <label for="identity">newPassword</label>
      <input type="password" id="newPassword" required>
    </div>
    <div class="field">
      <label for="password">checkPassword</label>
      <input type="password" id="checkPassword" required>
    </div>
  </div>
  <div>
    <button class="signup_button" onclick="logIn()">submit</button>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function logIn() {
    const identity = document.getElementById("identity");
    const password = document.getElementById("password");
    const newPassword = document.getElementById("newPassword");
    const checkPassword = document.getElementById("checkPassword");
    const cookieValue = getCookie("identity");
    if (cookieValue !== identity.value) {
      alert("회원 정보가 일치하지 않습니다.");
      return;
    }

    axios({
      url: 'http://localhost:8080/api/v1/users/myPage/passwordUpdate',
      method: 'put',
      withCredentials: false,
      data: {
        identity: identity.value,
        password: password.value,
        newPassword: newPassword.value,
        checkPassword: checkPassword.value,
      }
    }).then(
            function singUp(response){
              const jsonData = response.data;
              if (jsonData.result) {
                alert("비밀번호가 수정되었습니다.");
                location.href = "../templates/Main.html";
              } else {
                alert(jsonData.message)
              }
            }
    ).catch(
            function (error){
              alert("오류발생 : " * error)
            }
    )
  }
  function redirectToMainSignIn() {
    location.href =  "../templates/Main.html";
  }
  function getCookie(name) {
    const value = "; " + document.cookie;
    const parts = value.split("; " + name + "=");
    if (parts.length === 2) {
      return parts.pop().split(";").shift();
    }
    return null;
  }
</script>
</html>
